<div fxLayout="row" fxLayoutAlign="space-around center"  fxLayoutGap="10px" fxLayoutGap.sm="4px" fxLayoutGap.md="4px" fxLayoutGap.xs="1px" fxFlex=100 >
  <div fxFlex=17  >
    <button mat-icon-button  >
      <mat-icon class="material-icons" >notification_important</mat-icon>
    </button>
  </div>
  <div fxFlex=16 >
    <button mat-icon-button  >
      <mat-icon>person_add</mat-icon>
    </button>
  </div>
  <div fxFlex=16 >
    <button mat-icon-button [matMenuTriggerFor]="menucolor" color="" >
      <mat-icon>palette</mat-icon>
    </button>
    <mat-menu #menucolor="matMenu">
    <div fxLayout="row" *ngFor='let row of color' fxLayoutGap="3px" style="margin-bottom:5px;"  >
      <div  *ngFor='let col of row'  >
          <button mat-mini-fab color="" value="col" [style.background-color]="col" (click)="changeColor(col,note)" ></button>
      </div>
    
    </div>
      
  </mat-menu>
  </div>
  <div fxFlex=16 >
      <button mat-icon-button  >
          <mat-icon>insert_photo</mat-icon>
      </button>

  </div>
  <div fxFlex=16 >
      <button mat-icon-button (click)='archiveNote()'  >
          <mat-icon>archive</mat-icon>
      </button>

  </div>
  <div fxFlex=19 >
      <button mat-icon-button [matMenuTriggerFor]="menu"  >
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
          <button mat-menu-item (click)='trashNote()' >Delete Note</button>
          <button mat-menu-item>Add Label</button>
      </mat-menu>


  </div>
</div>
