<div fxLayout="row" fxLayoutAlign="space-around center"  fxLayoutGap="20px" fxLayoutGap.sm="4px" fxLayoutGap.md="4px" fxLayoutGap.xs="1px" fxFlex=100 >
  <div fxFlex=17  >
    <button mat-icon-button (click)="snav.toggle()" >
      <mat-icon>notification_important</mat-icon>
    </button>
  </div>
  <div fxFlex=16 >
    <button mat-icon-button (click)="snav.toggle()" >
      <mat-icon>person_add</mat-icon>
    </button>
  </div>
  <div fxFlex=16 >
    <button mat-icon-button (click)="snav.toggle()" >
      <mat-icon>palette</mat-icon>
    </button>
  </div>
  <div fxFlex=16 >
      <button mat-icon-button (click)="snav.toggle()" >
          <mat-icon>insert_photo</mat-icon>
      </button>

  </div>
  <div fxFlex=16 >
      <button mat-icon-button (click)="snav.toggle()" >
          <mat-icon>archive</mat-icon>
      </button>

  </div>
  <div fxFlex=19 >
      <button mat-icon-button (click)="snav.toggle()" >
          <mat-icon>more_vert</mat-icon>
      </button>

  </div>
</div>
