.main{
    margin-left: 17px;

    margin-top:25px;
    width:100%;
    height:75%;
}

.title{
    border:none transparent;
    outline: none;
    font-size: 32px;
    size:40; 
    width:48; 
    height:48;
    width:100%;
    max-width: 100%;
}
.description{
    border:none transparent;
    outline: none;
    width: 100%;

}