<div class="main" fxFlex=100 >
  <mat-card fxFlexOffset="25" fxFlex=60  >
      <div *ngIf="!isOpen" (click)='isOpen=true'  >
        <h5>Take a Note..</h5>
      </div>
      <div *ngIf='isOpen'  >
            <div class="title" >
              <input matInput type="text" placeholder="Title" style=" border:none transparent; outline:none; font-size: 18px; font-family: sans-serif;" >
            </div>
            <div class="description" >
                <!-- <textarea  type="text" placeholder="Take a Note.." style="padding:0; border:none transparent; outline:none; font-size: 18px;" ></textarea> -->
                <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize"  placeholder="Take a Note.." style="width:100%; border:none transparent;
                outline: none;" ></textarea>
            </div>
            
          
          <div>
            <div fxLayoutAlign="start center" fxLayoutGap="10px" >
              <div>
                  <app-icon></app-icon>

              </div>  
                <button type="text" fxFlexOffset="15" (click)="isOpen=false" fxLayoutAlign="end center" style="padding: 0;border: none; background: none; font-size: 18px"  >Close</button>

            </div>
          </div>
    </div>
  </mat-card>
  
</div>
