.create-note{
    margin-right: 15px;
    margin-top:45px;
    width:100%;
}

.title{
    border:none transparent;
    outline: none;
    font-size: 32px;
    size:40; 
    width:48; 
    height:48;
    width:100%;
    max-width: 100%;
}
.description{
    border:none transparent;
    outline: none;
}