<div fxFlex=100  fxLayout="row wrap" fxLayout.xs="column" fxLayout.sm="row wrap" fxLayout.md="row wrap">
    <div *ngFor="let note of allCards" class="container" fxLayoutGap="2px">
        <!-- <div *ngIf="note.isPined==true" >
            <mat-card class="cards" [ngStyle]="{'background-color': note.color}">



                <div fxLayout="row">
                    <div class="title" >
                        <mat-card-title style="font-size:16px;" (click)="modifyNote(note)">{{note.title}}
                        </mat-card-title>
                    </div>
                    <div>
                        <button mat-icon-button (click)="isPined(note)">
                                <img src="../../../assets/images/images.png" height="25px" width="25px">
                        </button>
                    </div>
                </div>
                <div class="description" fxLayoutGap="10px">
                    <mat-card-title style="font-size:16px;">{{note.description}}</mat-card-title>
                </div>
                <div class="icon">
                    <app-icon [childMessage]='note'></app-icon>
                </div>


            </mat-card>

        </div> -->

        <div *ngIf="note.isPined==false" >
            <mat-card class="cards" [ngStyle]="{'background-color': note.color}">



                <div fxLayout="row">
                    <div class="title" fxLayoutGap="10px">
                        <mat-card-title style="font-size:16px;font-family:Roboto,Arial,sans-serif;" (click)="modifyNote(note)">{{note.title}}
                        </mat-card-title>
                    </div>
                    <div class="pinned" >
                        <button mat-icon-button (click)="isPined(note)" >
                            <mat-icon><img src="../../../assets/svg-icons/now using.svg"  height="25px" width="25px">
                            </mat-icon>
                        </button>
                    </div>
                </div>
                <div class="description" fxLayoutGap="10px"  >
                    <mat-card-title style="font-size:16px;font-family:Roboto,Arial,sans-serif;">{{note.description}}</mat-card-title>
                </div>
               
               <div fxLayout="row wrap"  >
                    <mat-chip-list >
                        <mat-chip *ngFor="let labels of note.noteLabels"  [removable]="removable" (removed)="deleteNoteLabel(note.id,labels.id)">
                            {{labels.label}}
                            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                        </mat-chip>
                             
                    </mat-chip-list>
                </div>
                <div class="icon"  >
                        <app-icon [childMessage]='note' [receivedLabels]='getLabels' (reloadEvent)="reloadAction($event)" ></app-icon>
                </div>

            </mat-card>
        </div>




    </div>

</div>