<div fxFlex=100 >
  <mat-card    >
    <div>
        <mat-card-title>
            <h5>Edit labels</h5>
          </mat-card-title>
    </div>
    <div fxLayoutAlign="row" fxLayoutAlign="space-evenly center" >
        
      <button mat-icon-button (click)='close()'>
        <img src="../../../assets/svg-icons/multiply.svg" height="15px" width="15px">
      </button>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Create new label">
        </mat-form-field>     
        <button mat-icon-button (click)='check()'>
            <img src="../../../assets/svg-icons/checkmark.svg" height="50px" width="50px">
        </button>
    </div>
    <div fxLayoutAlign="row" fxLayoutAlign="space-evenly center" *ngFor='let labels of allLabels' >
        <button mat-icon-button (click)="deleteLabels()">
            <mat-icon>label</mat-icon>
        </button>
          {{labels}}
        <button mat-icon-button (click)="editLabels()">
              <mat-icon>create</mat-icon>
        </button>

    </div>
    <div class="divider"></div>

    <div class="footer" fxLayout="row"  fxLayoutAlign="end center" >
      <button mat-raised-button (click)="done()" id="input-btn" color="">Done</button>

    </div>
  </mat-card>
</div>